input[type='range'] {
    display: block;
}

input[type='range'] {
    margin-top: 0.4em !important;
    margin-bottom: 1.4em !important;
    width: 100%;
    max-width: 20em;
    
}

input[type=range].setRange {
  -webkit-appearance: none;
  margin: 8.5px 0;
}
input[type=range].setRange:focus {
  outline: none;
}
input[type=range].setRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #3071a9;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].setRange::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0.1px solid #787878;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #f5f5f5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range].setRange:focus::-webkit-slider-runnable-track {
  background: #3174ad;
}
input[type=range].setRange::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #3071a9;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].setRange::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0.1px solid #787878;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #f5f5f5;
  cursor: pointer;
}


/* Class readRange */

input[type=range].readRange {
  -webkit-appearance: none;
  margin: 7px 0;
}
input[type=range].readRange:focus {
  outline: none;
}
input[type=range].readRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #3071a9;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].readRange::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 0px solid #000000;
  height: 17px;
  width: 5px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range].readRange:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range].readRange::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #3071a9;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].readRange::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 0px solid #000000;
  height: 17px;
  width: 5px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
}



input[type=range].solarBrightness:focus::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #000284 0%,#f56735 87%) !important;
}

input[type=range].solarBrightness::-moz-range-track {
    background: linear-gradient(to right, #000284 0%,#f56735 87%) !important;
}
input[type=range].warning:focus::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #00b400 5%,#e1ea00 50%,#bf0000 93%) !important;
}
input[type=range].warning::-moz-range-track {
    background: linear-gradient(to right, #00b400 5%,#e1ea00 50%,#bf0000 93%) !important;
}
input[type=range].water:focus::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #eab300 5%,#009dff 93%) !important;
}
input[type=range].water::-moz-range-track {
    background: linear-gradient(to right, #eab300 5%,#009dff 93%) !important;
}
input[type=range].intensity:focus::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgba(0,121,242,1) 0%,rgba(198,0,3,1) 100%) !important;
}
input[type=range].intensity::-moz-range-track {
    background: linear-gradient(to right, rgba(0,121,242,1) 0%,rgba(198,0,3,1) 100%) !important;
}

