<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ceres Template</title>
    
    <!-- jQuery & -UI -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
    <!-- Emojis/Icons -->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet" /> 
    
    <!-- eigene Assets -->
    <link rel="stylesheet" href="assets/ceres.css" />
    <link rel="stylesheet" href="assets/sliders.css" />
    <script src="assets/functions.js"></script>
    
    
</head>

<body>
    
    <div id="critical">
        <h4>kritisch</h4>
        <div></div>
    </div>
    
    <div id="fbCon">
        <fieldset>
            <legend>Server-Feedback</legend>
            <span id="fbText"></span>
        </fieldset>
    </div>
    
    <div id="tabs">
        <ul>
            <li>
                <a href="#tabs-1">
                    <span class="textTabs">Sonne</span>
                    <span class="emojiTabs"><i class="em em-sunny"></i></span>
                </a>
            </li>
            <li>
                <a href="#tabs-2">
                    <span class="textTabs">Regen</span>
                    <span class="emojiTabs"><i class="em em-droplet"></i></span>
                </a>
            </li>
            <li>
                <a href="#tabs-3">
                    <span class="textTabs">Hardware</span>
                    <span class="emojiTabs"><i class="em em-zap"></i></span>
                </a>
            </li>
            <li>
                <a href="#tabs-4">
                    <span class="textTabs">Passwort</span>
                    <span class="emojiTabs"><i class="em em-closed_lock_with_key"></i></span>
                </a>
            </li>
            <li>
                <a href="/logout" onclick="window.location='/logout';">
                    <span class="textTabs">Logout</span>
                    <span class="emojiTabs"><i class="em em-door"></i></span>
                </a>
            </li>
        </ul>
        
        <div id="tabs-1">
            <h3>Sonnenschein</h3>
            <p>Es ist <span id="isDay"></span>.</p>
            <p>
                <span id="rise_set"></span> in
                <span id="sun_countdown">
                    <span class="hours"></span>:
                    <span class="minutes"></span>:
                    <span class="seconds"></span>
                </span>
            </p>
            
            <div >
                <form method="post" action="/api/post/sun">
                <span>Sonnenscheindauer: </span><span id="sunhLabel" class="rangeLabel">{{data.helios.sunh}}</span>h
                <input id="sunh" name="sunh" class="setRange solarBrightness" type="range" step="2" min="0" max="24" value="{{data.helios.sunh}}"/>
                
                <input type="submit" value="senden" />
                </form>
            </div>
            {% for i in data.solar %}
            <hr />
            <div class="solarwind">
                <h3>Sonnengruppe {{i.id}}</h3>
                
                <form action="/api/post/solarwind/{{i.id}}" method="post">
                    
                    <p>
                        {% if i.active == 1 %}
                        <input name="active" type="checkbox" value="1" checked="checked" />
                        {% else %}
                        <input name="active" type="checkbox" value="1"/>
                        {% endif %}
                        Gruppe aktiv<br />
                    </p>
                    
                    <span>Oberflächentemperatur: </span><span id="solartemp_label_{{i.id}}" class="rangeLabel">{{i.readtemp}}</span> °C
                
                    <input id="solartemp_{{i.id}}" type="range" min="{{data.helios.coldThresh}}" max="{{data.helios.hotThresh}}" value="{{i.readtemp}}" class="readRange warning" disabled="disabled"/>
                    
                    <!--<input name="active" type="hidden" value="0" />-->
                    
                    <input type="submit" value="senden" />
                </form>
            </div>
            {% endfor %}
            
        </div>
            
        <div id="tabs-2">
            {% for i in data.rain %}
                
                {% if loop.first %}
                {% else %}
                <hr />
                {% endif %}
                
                <h3>Regengruppe {{i.id}}</h3>
                
                <p>
                    {% if i.active == 1 %}
                    <input name="active" type="checkbox" value="1" checked="checked" />
                    {% else %}
                    <input name="active" type="checkbox" value="1"/>
                    {% endif %}
                    Gruppe aktiv<br />
                </p>
                
                <p>Es ist <span id="dryMsg_{{i.id}}"></span>.</p>
                <p id="dry_countdown_wrapper_{{i.id}}">
                    Nächster Regen in
                    <span id="dry_countdown_{{i.id}}">
                        <span class="hours"></span>:
                        <span class="minutes"></span>:
                        <span class="seconds"></span>
                    </span>
                </p>
                
                <span>Feuchtigkeit: </span><span id="rain_reading_label_{{i.id}}" class="rangeLabel">{{i.reading}}</span>%
                <input id="rain_reading_{{i.id}}" class="readRange water" type="range" min="{{i.lowThresh}}" max="{{i.highThresh}}" value="{{i.reading}}" disabled="disabled"/>
                
                <form method="post" action="/api/post/rain/{{i.id}}">
                    <div>
                        <span>trockener Grenzwert: </span><span class="rangeLabel">{{i.lowThresh}}</span> %
                        <input id="lowThresh{{i.id}}" name="lowThresh" class="setRange water" type="range" min="0" max="100" value="{{i.lowThresh}}"/>
                    </div>
                    
                    <div>
                        <span>feuchter Grenzwert: </span><span class="rangeLabel">{{i.highThresh}}</span> %
                        <input id="highThresh{{i.id}}" name="highThresh" class="setRange water" type="range" min="0" max="100" value="{{i.highThresh}}"/>
                    </div>
                    
                    <div>
                        <span>Trockenzeit: </span><span class="rangeLabel">{{i.dryDelta}}</span> h
                        <input id="dryDelta{{i.id}}" name="dryDelta" class="setRange intensity" type="range" min="0" max="72" value="{{i.dryDelta}}"/>
                    </div>
                    <input type="submit" value="senden" />
                </form>
            {% endfor %}
        </div>
        
        <div id="tabs-3">
            {% for i in data.solar %}
                <h3>Sonnengruppe {{i.id}}</h3>
                <form action="/api/post/hw/solar/{{i.id}}" method="post">
                    <table>
                        <tr>
                            <td class="r">Beleuchtungspin:</td>
                            <td class="l">
                                <select name="lpin">
                                    {% for j in data.hw %}
                                        {% if j.typ == 'lpin' and i.lpin == j.wert %}
                                        <option value="{{j.wert}}" selected="selected">{{j.wert}}</option>
                                        {% elif j.typ == 'lpin' %}
                                        <option value="{{j.wert}}">{{j.wert}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="r">Ventilationspin:</td>
                            <td class="l">
                                <select name="fpin">
                                    {% for j in data.hw %}
                                        {% if j.typ == 'fpin' and i.fpin == j.wert %}
                                        <option value="{{j.wert}}" selected="selected">{{j.wert}}</option>
                                        {% elif j.typ == 'fpin' %}
                                        <option value="{{j.wert}}">{{j.wert}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="r">Temperatursensor:</td>
                            <td class="l">
                                <select name="sensorid">
                                    {% for j in data.hw %}
                                        {% if j.typ == 'ow' and i.sensorid == j.wert %}
                                        <option value="{{j.wert}}" selected="selected">{{j.wert}}</option>
                                        {% elif j.typ == 'ow' %}
                                        <option value="{{j.wert}}">{{j.wert}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="senden" />
                </form>
                <hr />
            {% endfor %}
            
            {% for i in data.rain %}
                <h3>Regengruppe {{i.id}}</h3>
                <form action="/api/post/hw/rain/{{i.id}}" method="post">
                    
                    <table>
                        <tr>
                            <td class="r">Sensorpin:</td>
                            <td class="l">
                                <select name="apin">
                                    {% for j in data.hw %}
                                        {% if j.typ == 'apin' and i.apin == j.wert %}
                                        <option value="{{j.wert}}" selected="selected">{{j.wert}}</option>
                                        {% elif j.typ == 'apin' %}
                                        <option value="{{j.wert}}">{{j.wert}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="r">Pumpenpin:</td>
                            <td class="l">
                                <select name="ppin">
                                    {% for j in data.hw %}
                                        {% if j.typ == 'ppin' and i.ppin == j.wert %}
                                        <option value="{{j.wert}}" selected="selected">{{j.wert}}</option>
                                        {% elif j.typ == 'ppin' %}
                                        <option value="{{j.wert}}">{{j.wert}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                    
                    <div>
                        Pumpenmodulation: <span class="rangeLabel">{{i.pwm}}</span>%
                        <input type="range" class="setRange intensity" value="{{i.pwm}}" name="pwm" min="0" max="100" />
                    </div>
                    
                    <input type="submit" value="senden" />
                    
                </form>
                <hr />
            {% endfor %}
            
            <h3>Temperaturgrenzwerte</h3>
            
            <form action="/api/post/hw/helios/1" method="post">
                <div>
                    kalter Grenzwert: <span class="rangeLabel">{{data.helios.coldThresh}}</span> °C<br />
                    <input type="range" name="coldThresh" value="{{data.helios.coldThresh}}" class="setRange warning" min="0" max="120" />
                </div>
                
                <div>
                    heisser Grenzwert: <span class="rangeLabel">{{data.helios.hotThresh}}</span> °C<br />
                    <input type="range" name="hotThresh" value="{{data.helios.hotThresh}}" class="setRange warning" min="0" max="120" />
                </div>
                
                <div>
                    kritischer Grenzwert: <span class="rangeLabel">{{data.helios.critThresh}}</span> °C<br />
                    <input type="range" name="critThresh" value="{{data.helios.critThresh}}" class="setRange warning" min="0" max="120" />
                </div>
                
                <input type="submit" value="senden" />
                
            </form>
                
        </div>
        
        <div id="tabs-4">
            <h3>Passwort ändern</h3>
            
            <form action="/api/post/pwd" method="post">
                <table>
                    <tr>
                        <td class="r">altes Passwort:</td>
                        <td class="l"><input type="password" name="old_pwd" /></td>
                    </tr>
                    <tr>
                        <td class="r">neues Passwort:</td>
                        <td class="l"><input type="password" name="new_pwd_1" /></td>
                    </tr>
                    <tr>
                        <td class="r">wiederholen:</td>
                        <td class="l"><input type="password" name="new_pwd_2" /></td>
                    </tr>
                    <tr>
                        <td class="r"></td>
                        <td class="l"><input type="submit" value="senden" /></td>
                    </tr>
                </table>
                
            </form>
        </div>
    </div>
</body>

</html>